.profile__button-image-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .profile__button-image-plus {
    width: 16px;
    height: 16px;
  }
}
