.popup__plus {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -45.55px;
  right: -45.55px;
  padding: 0;
  border: none;
  z-index: -1;
  outline: none;
  min-width: 57.56px;
  min-height: 57.56px;
}

.popup__plus:hover {
  transition: opacity 0.3s;
  opacity: 60%;
  cursor: url('../../../images/cursor.svg'), auto;
}

@media screen and (max-width: 619px) {
  .popup__plus {
    min-width: 35px;
    min-height: 35px;
    top: -48px;
    right: 0;
    background-size: cover;
  }   
}

