.header__logo {
  background-image: url('../../../images/logo.png');
  width: 142.01px;
  height: 33.4px;
  margin: 0 0 40.6px;
  padding: 0;
}

@media screen and (max-width: 920px) {
  .header__logo {
    margin-left: 27px;

  }
}

@media screen and (max-width: 619px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-bottom:31.6px;
    background-size: cover;
  }
}




