.popup__name {
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  margin-top: 52.08px;
  box-sizing: border-box;
  padding: 0;

}

@media screen and (max-width: 619px) {
  .popup__name {
    margin-top: 85px;
  }
} 


