.profile__name {
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
  line-height: 133%;
  min-width: 295px;
  margin: 0;
  padding: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
        
}

@media screen and (max-width: 920px) {
  .profile__name {
    font-size: 27px;
    line-height: 207%;
    max-width: 190px;
  }
}

@media screen and (max-width: 619px) {
  .profile__name {
    text-align: center;
    min-width: 201px;
  }
}

@media screen and (max-width: 320px) {
  .profile__name {
    min-width: 201px;
  }
}