.card__like {
  background-image: url('../../../images/card_like.svg');
  min-width: 20.76px;
  min-height: 18.13px;
  padding: 0;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  outline: none;
 
}

.card__like:hover {
  transition: opacity 0.3s;
  opacity: 0.6;
  cursor: pointer; 
}


.card__like-counter {
  display: flex;
  flex-direction: column;
  max-height: 34px;
 
}

.card__counter {
  margin-top: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}