.card__like {
  background-image: url('../../../images/heart.svg');
  min-width: 20.76px;
  min-height: 18.13px;
  padding: 0;
  background-repeat: no-repeat;
  border: none;
  background-color: #ffffff;
  outline: none;
 
}

.card__like:hover {
  transition: opacity 0.3s;
  opacity: 60%;
  cursor: url('../../../images/cursor.png'), auto;
}
