.card__like {
  background-image: url('../../../images/heart.svg');
  width: 20.76px;
  height: 18.13px;
  padding-right: 6px;
  background-repeat: no-repeat;
  border: none;
  background-color: #ffffff;
  outline: none;
  
}

.card__like:hover {
  transition: opacity 0.3s;
  opacity: 60%;
  cursor: url('../../../images/cursor.png'), auto;
}
